:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App > * {
  position: absolute;
  will-change: transform;
} */

.App {
  width: 100vw;
  height: 100vh;
}

.lmao {
  background: rgb(0, 224, 34);
  background: linear-gradient(
    90deg,
    rgba(0, 224, 34, 1) 0%,
    rgba(82, 0, 223, 1) 72%,
    rgba(125, 1, 62, 1) 99%
  );
}
.client-view {
  width: 1000px;
  height: 500px;
  overflow: hidden;
}

.block {
  background-color: black;
}
